body {background-color: azure;}


/* main div to hold everything */
div#main {position: static;
        box-sizing: border-box;
        width: 1000px;
        height: 900px;
        background-color: lightgoldenrodyellow;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 15px 15px 10px rgba (0, 0, 0, 0.5);}

/* boxes that go inside of main */



header {position: static;
        box-sizing: border-box;
        width: 1000px;
        height: 150px;
        background-color: #9ff4ff;
        background-image:}

nav {position: static;
    box-sizing: border-box;
    width: 1000px;
    height: 60px;
    padding-top: 5px;
    background-color: lightgreen;
    text-align: center;}

aside#left {position: static;
            box-sizing: border-box;
            float: left;
            width: 200px;
            height: 650px;
            background-color: greenyellow;
            text-align: center;
            }

article {position: static;
        box-sizing: border-box;
        float: left;
        background-color: white;
        width: 600px;
        height: 650px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: auto;}

aside#right {position: static;
            box-sizing: border-box;
            float: left;
            width: 200px;
            height: 650px;
            background-color: greenyellow;
            background-image: }

footer {position: static;
        box-sizing: border-box;
        /* use clear to make footer go to the next line */
        clear: both;
        width: 1000px;
        height: 40px;
        padding-top: 10px;
        background-color: palevioletred;
        text-align: center;}

small {color: white;
        font-size: 14px;
        font-family: arial;}

h1 {text-align: center;
    font-size: 35px;}


p {font-size: 25px;
    font-family: arial;}



/* style for a tags inside of nav */

nav a {font-family: arial;
        font-size: 24px;
        text-decoration: none;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        /* make each link behave like a little
        div */
        display: inline-block;
        border: 3px solid violet;
        border-radius: 20px;}

nav a:link {color: navy;
            background-color: #00ffe2;
            box-shadow: 2px 2px 7px red;}

nav a:visited {color: navy;
            background-color: #00ffe2;
            box-shadow: 2px 2px 7px red;}

nav a:hover {color: white;
            background-color: #00ffe2;
            box-shadow: 2px 2px 0px yellow;
            transform: translate(-2px, -2px);}

nav a:active {color: lime;
            background-color: black;
            box-shadow: 0px 0px 0px red;
            transform: translate(3px, 3px);}

